*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: 'Roboto Mono', monospace;
}

/* UTILITIES */
.h-margin{
    margin: 0 10px 0 10px;
}

.display-none{
    display: none;
}

/* IDs */
#logo{
    width: 30px;
    height: 30px;
}

#game-title{
    margin-left: 10px;
    font-family: 'Rampart One', cursive;
}

/* CLASSES */
.top-sx-div{
    align-items: center;
}

.top-btm-navs{
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.refresh-btn{
    padding: 2px 5px;
    background-color: rgb(47, 255, 161);
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    font-size: small;
}

.refresh-btn:hover{
    border: 1px solid #000000;
}

.refresh-btn > a{
    color: #000000;
}

.play-btn{
    font-family: 'Roboto Mono', monospace;
    padding: 2px 10px;
    background-color: greenyellow;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    cursor: pointer;
}

.play-btn:hover{
    border: 1px solid #000000;
}

.flex{
    display: flex;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.grid-row{
    width: 500px;
    height: 500px;
    background-color: #b7c2b6;
    border: 1px solid #000000;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47.8px;
    width: calc(100% / 10 - 2px);
    background-color: #fafee3;
    color: #131313;
    border: 1px solid #666666;
}

.cell:hover{
    border: 1px solid #000000;
}

.cell:hover{
    cursor: pointer;
}

.light-blue{
    background-color: lightblue;
}