*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-margin{
    margin: 0 10px 0 10px;
}

.display-none{
    display: none;
}

.top-btm-navs{
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.play-btn{
    padding: 2px 10px;
}

.flex{
    display: flex;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.grid-row{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 191, 180);
    border: 1px solid white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47.8px;
    width: calc(100% / 10 - 2px);
    background-color: #f7ffcb;
    color: rgb(19, 19, 19);
    border: 1px solid #666666;
}

.cell:hover{
    cursor: pointer;
}

.light-blue{
    background-color: lightblue;
}